.ticket-container {
  text-align: left;
  margin-left: 30px;
  margin-top: 30px;
}
.ticket {
  padding: 10px;
  margin-right: 20px;
  box-shadow: 3px 3px 3px 3px #ccc;
  font-size: 20px;
  background-color: #008CBA;
  color: white;
  text-decoration: none;
  border-radius: 3px;
}
